build
artifacts
cache
artifacts-zk
cache-zk
**/solcInputs
contracts/hardhat-dependency-compiler

deployments/**/SettlementStaging.json

node_modules

coverage
coverage.json
.coverage_contracts
.coverage_artifacts

.idea

.env
